body {
  background-color: #fff; }

header {
  background-color: #fff; }
  header #header {
    width: 1150px;
    height: 120px;
    margin: 0 auto;
    position: relative; }
    header #header .two-code {
      position: absolute;
      top: 34px;
      right: 10px; }
      header #header .two-code img {
        width: 152px;
        height: 32px; }
    header #header .logo-wrapper {
      float: left;
      width: 366px;
      height: 120px;
      line-height: 120px; }
      header #header .logo-wrapper a img {
        width: 153px;
        height: 68px;
        margin-top: 28px; }
    header #header .search-grp {
      float: left;
      width: 550px;
      padding-top: 30px; }
      header #header .search-grp .search-bar {
        width: 460px;
        border: 1px solid #37a4ee;
        border-radius: 3px;
        padding-left: 6px; }
        header #header .search-grp .search-bar input[type="text"] {
          border: none;
          outline: none;
          height: 34px;
          width: 400px;
          font-size: 16px; }
        header #header .search-grp .search-bar input[type="submit"] {
          display: block;
          float: right;
          height: 36px;
          width: 58px;
          border: none;
          outline: none;
          background: url("../images/search_bg.png") no-repeat center center #37a4ee;
          background-size: 25px 25px; }
      header #header .search-grp .search-hot {
        font-size: 13px;
        color: #817d7d;
        margin-top: 10px;
        width: 508px;
        height: 22px;
        line-height: 22px;
        overflow: hidden; }
        header #header .search-grp .search-hot a {
          margin-left: 16px;
          font-size: 13px;
          color: #817d7d; }
          header #header .search-grp .search-hot a:hover {
            color: #36a4ee;
            text-decoration: underline; }

nav {
  background-color: #36a4ee;
  position: relative;
  z-index: 100; }
  nav #nav {
    height: 48px;
    line-height: 47px;
    width: 1150px;
    margin: 0 auto; }
    nav #nav > ul li {
      width: 112px;
      float: left;
      text-align: center; }
      nav #nav > ul li.on, nav #nav > ul li:hover {
        background-color: #197bba; }
        nav #nav > ul li.on:after, nav #nav > ul li:hover:after {
          background-color: #197bba; }
      nav #nav > ul li a {
        color: #fff;
        font-size: 14px;
        display: block; }
    nav #nav #all-blocks {
      width: 147px;
      height: 47px;
      float: right;
      background-color: #59c2f1; }
      nav #nav #all-blocks .all-block-btn {
        font-size: 14px;
        color: #fff;
        display: block;
        text-align: center; }
        nav #nav #all-blocks .all-block-btn i {
          display: inline-block;
          width: 16px;
          height: 14px;
          background: url("../images/all_blocks_closed.png") no-repeat center center;
          background-size: 100% 100%;
          margin-right: 5px;
          vertical-align: middle; }
      nav #nav #all-blocks.opended .all-block-btn i {
        background: url("../images/all_blocks_opended.png") no-repeat center center;
        background-size: 100% 100%; }
      nav #nav #all-blocks #all-blocks-modal {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0 2px 6px #e4e4e4; }
        nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper {
          width: 1150px;
          margin: 0 auto; }
          nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item {
            border-right: 1px solid #eee;
            float: left;
            box-sizing: border-box;
            padding: 20px;
            height: 450px; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item div strong {
              font-size: 16px; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item div ul li {
              display: block;
              height: 30px;
              line-height: 30px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
              nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item div ul li a {
                font-size: 14px;
                color: #5D5B5B; }
              nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item div ul li:hover {
                background: #fff; }
                nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item div ul li:hover a {
                  color: #36a4ee;
                  text-decoration: underline; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:first-child {
              width: 144px;
              text-align: center;
              border-left: 1px solid #eee; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:nth-child(2) {
              width: 144px;
              text-align: center; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:nth-child(3) {
              width: 606px; }
              nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:nth-child(3) div strong {
                display: block; }
              nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:nth-child(3) div ul li {
                float: left;
                width: 113px; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:last-child {
              width: 256px; }
              nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:last-child div strong {
                display: block; }
              nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .all-blocks-list .list-item:last-child div ul li {
                float: left;
                width: 106px; }
          nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .see-all-block {
            height: 20px;
            line-height: 20px;
            padding-right: 20px;
            padding-bottom: 10px; }
            nav #nav #all-blocks #all-blocks-modal .all-blocks-wrapper .see-all-block a {
              float: right;
              font-size: 14px;
              color: #5d5b5b; }

#top-nav {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background-color: #36a4ee;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #bfbfbf; }
  #top-nav .top-nav-wrapper {
    width: 1150px;
    margin: 0 auto; }
    #top-nav .top-nav-wrapper .search-grp {
      width: 196px;
      height: 24px;
      padding-top: 9px;
      overflow: hidden;
      float: left; }
      #top-nav .top-nav-wrapper .search-grp input[type="text"] {
        display: block;
        float: left;
        width: 158px;
        padding: 0;
        padding-left: 10px;
        height: 24px;
        border: none;
        outline: none; }
      #top-nav .top-nav-wrapper .search-grp input[type="submit"] {
        float: left;
        display: block;
        width: 28px;
        height: 24px;
        border: none;
        outline: none;
        background: url("../images/search_icon.png") no-repeat center center #323232;
        background-size: 21px 18px; }
    #top-nav .top-nav-wrapper ul {
      float: left;
      margin-left: 20px; }
      #top-nav .top-nav-wrapper ul li {
        float: left;
        padding: 0 26px; }
        #top-nav .top-nav-wrapper ul li a {
          font-size: 14px;
          color: #fff; }
    #top-nav .top-nav-wrapper .login-grp {
      float: right; }
      #top-nav .top-nav-wrapper .login-grp a, #top-nav .top-nav-wrapper .login-grp span {
        font-size: 14px;
        color: #fff; }

.pagecontent-wrapper {
  width: 1150px;
  margin: 0 auto;
  padding-top: 10px; }
  .pagecontent-wrapper #banner-wrapper {
    overflow: hidden; }
    .pagecontent-wrapper #banner-wrapper .swiper-container {
      width: 670px;
      height: 368px;
      float: left; }
      .pagecontent-wrapper #banner-wrapper .swiper-container .swiper-button-next, .pagecontent-wrapper #banner-wrapper .swiper-container .swiper-button-prev {
        display: none;
        background-color: rgba(0, 0, 0, 0.3); }
      .pagecontent-wrapper #banner-wrapper .swiper-container:hover .swiper-button-next, .pagecontent-wrapper #banner-wrapper .swiper-container:hover .swiper-button-prev {
        display: block; }
      .pagecontent-wrapper #banner-wrapper .swiper-container .swiper-wrapper .swiper-slide a img {
        width: 670px;
        height: 368px; }
    .pagecontent-wrapper #banner-wrapper .banner-ad-block {
      width: 470px;
      float: right;
      height: 368px; }
      .pagecontent-wrapper #banner-wrapper .banner-ad-block a {
        display: block;
        width: 230px;
        height: 179px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px; }
        .pagecontent-wrapper #banner-wrapper .banner-ad-block a:nth-child(2n) {
          margin-right: 0px; }
        .pagecontent-wrapper #banner-wrapper .banner-ad-block a img {
          display: block;
          width: 100%;
          height: 100%; }
  .pagecontent-wrapper .main-content-wrapper {
    padding-top: 10px; }
    .pagecontent-wrapper .main-content-wrapper .main-content-left {
      width: 802px;
      float: left; }
      .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title {
        height: 50px;
        line-height: 50px;
        padding-right: 32px;
        position: relative;
        border-bottom: 1px solid #eee;
        overflow: hidden; }
        .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title ul.classify-wrapper {
          white-space: nowrap;
          position: relative;
          top: 0;
          left: 0; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title ul.classify-wrapper li {
            display: inline-block;
            padding: 0 10px;
            width: 72px;
            text-align: center;
            cursor: pointer; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title ul.classify-wrapper li span {
              display: block;
              padding: 0 6px;
              font-size: 16px;
              color: #333;
              height: 48px; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title ul.classify-wrapper li.on span, .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title ul.classify-wrapper li:hover span {
              color: #37a4ee;
              border-bottom: 2px solid #37a4ee; }
        .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fff;
          width: 30px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp .arrow-left {
            display: block;
            width: 50%;
            float: left;
            text-align: center;
            cursor: pointer; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp .arrow-left > span {
              display: inline-block;
              width: 0;
              height: 0;
              border-right: 6px solid #abdeff;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp .arrow-left.usable > span {
              border-right: 6px solid #37a4ee; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp .arrow-right {
            display: block;
            width: 50%;
            float: left;
            text-align: center;
            cursor: pointer; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp .arrow-right > span {
              display: inline-block;
              width: 0;
              height: 0;
              border-left: 6px solid #abdeff;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-classify-title .arrow-grp .arrow-right.usable > span {
              border-left: 6px solid #37a4ee; }
      .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item {
        border-bottom: 1px solid #eee;
        padding: 20px 0; }
        .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .cover-pic {
          float: left;
          width: 200px;
          height: 150px;
          position: relative; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .cover-pic a img {
            display: block;
            width: 100%;
            height: 100%; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .cover-pic .tag-grp {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .cover-pic .tag-grp div {
              display: block;
              float: left;
              height: 18px;
              line-height: 18px;
              padding: 0 5px;
              font-size: 12px;
              margin-right: 2px;
              color: #fff; }
              .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .cover-pic .tag-grp div.tag-essence {
                background-color: #ff8682; }
              .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .cover-pic .tag-grp div.tag-stick {
                background-color: #84c4ff; }
        .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block {
          width: 560px;
          float: right;
          padding-right: 20px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-name {
            margin-bottom: 10px;
            line-height: 26px;
            height: 52px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-name a {
              font-size: 20px;
              color: #333; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-detail {
            font-size: 14px;
            margin-bottom: 10px;
            height: 52px;
            line-height: 26px;
            color: #929292;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info span {
            display: inline-block;
            margin-right: 20px;
            font-size: 12px;
            color: #929292;
            height: 24px;
            line-height: 24px; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info span.article-auther a {
              font-size: 12px;
              color: #929292; }
              .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info span.article-auther a img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-right: 5px;
                vertical-align: middle; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info span.see-counts {
              padding-left: 18px;
              background: url("../images/look_message/look_icon.png") no-repeat left center;
              background-size: 16px 12px; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info span.comment-counts {
              padding-left: 18px;
              background: url("../images/look_message/comment_icon.png") no-repeat left center;
              background-size: 14px 12px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info .block-classify {
            float: right;
            font-size: 14px;
            color: #333; }
            .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item .article-block .article-info .block-classify:hover {
              color: #4680b4; }
        .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item:hover {
          background-color: #fafafa; }
          .pagecontent-wrapper .main-content-wrapper .main-content-left .block-content-wrapper .block-content-item:hover .article-block .article-name a {
            color: #4680b4; }
      .pagecontent-wrapper .main-content-wrapper .main-content-left #see-more-btn {
        background-color: #ecf4fa;
        border-radius: 2px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        color: #37a4ee;
        margin-top: 10px; }
    .pagecontent-wrapper .main-content-wrapper .main-content-right {
      width: 320px;
      float: right; }
      .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block {
        background-color: #fafafa;
        padding: 20px 30px;
        margin-bottom: 20px; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-icon {
          width: 60px;
          height: 60px;
          float: left; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-icon a img {
            display: block;
            border-radius: 50%; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info {
          width: 180px;
          float: right;
          padding-top: 6px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info .user-name {
            font-size: 18px;
            color: #484848;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 16px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info .user-notice {
            height: 14px;
            line-height: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            color: #7f7f7f; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info .user-notice a {
              font-size: 14px;
              color: #4680b4; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info .user-notice span {
              font-size: 14px;
              color: #7f7f7f; }
              .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info .user-notice span:first-child {
                margin-right: 10px; }
              .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .uicon-uinfo .user-info .user-notice span i {
                font-style: normal;
                font-size: 14px;
                color: #f36c00; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .btn-grp {
          margin-top: 20px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .btn-grp a {
            width: 120px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: block;
            box-sizing: border-box; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .btn-grp a.sign-in-btn {
              background-color: #fb7810;
              border-radius: 3px;
              font-size: 14px;
              color: #fff;
              float: left; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .login-block .btn-grp a.return-old-version {
              border: 1px solid #37a4ee;
              border-radius: 3px;
              font-size: 14px;
              color: #37a4ee;
              float: right; }
      .pagecontent-wrapper .main-content-wrapper .main-content-right .community-activity {
        border-top: 2px solid #6ec0f8;
        padding: 0 20px 20px 20px;
        background-color: #fafafa;
        margin-bottom: 20px; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .community-activity .activity-head {
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          color: #333; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .community-activity .activity-head a {
            float: right;
            font-size: 14px;
            color: #37A4EE; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .community-activity .activity-list .activity-item {
          width: 280px;
          height: 188px;
          margin-bottom: 20px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .community-activity .activity-list .activity-item:last-child {
            margin-bottom: 0; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .community-activity .activity-list .activity-item a img {
            display: block;
            width: 100%;
            height: 100%; }
      .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test {
        border-top: 2px solid #6ec0f8;
        padding: 0 20px 20px 20px;
        background-color: #fafafa;
        margin-bottom: 20px; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .activity-head {
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          color: #333; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .activity-head a {
            float: right;
            font-size: 14px;
            color: #37A4EE; }
        .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item {
          margin-bottom: 20px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item:last-child {
            margin-bottom: 0px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper {
            position: relative;
            background: #ffffff;
            border: 1px solid #eeeeee;
            width: 280px;
            height: 188px;
            line-height: 188px;
            text-align: center; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper img {
              max-width: 100%;
              max-height: 100%;
              vertical-align: middle; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper .tag-status {
              position: absolute;
              height: 22px;
              line-height: 22px;
              padding: 0 8px;
              border-radius: 2px;
              top: 13px;
              left: 13px;
              font-size: 12px;
              color: #fff; }
              .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper .tag-status.applying {
                background-color: #fb7810; }
              .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper .tag-status.be-soon {
                background-color: #6EC0F7; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper .end-time {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 36px;
              line-height: 36px;
              background-color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              color: #fff; }
              .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-pic-wrapper .end-time span {
                font-size: 18px; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-name {
            height: 18px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 10px 0; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-name a {
              font-size: 16px;
              color: #333; }
          .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-detail {
            text-align: center; }
            .pagecontent-wrapper .main-content-wrapper .main-content-right .all-the-test .test-list .test-item .test-detail span {
              font-size: 14px;
              color: #b2b2b2;
              margin-right: 15px; }

.row-ad {
  margin: 10px 0px;
  text-align: center; }

/*  odaboy */
h1, h2, h3, h4, h5, em {
  font-weight: bold; }

.floor4 .floor-left .gl-list .row .gl-item .sd-info .sd-user img {
  vertical-align: text-bottom; }

a:hover {
  color: #018ae5;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.floor-zy .zy-list {
  padding: 0 15px 2px; }

.floor-zy .zy-list .row .zy-item {
  margin-top: 10px; }

.index_gl ul {
  margin-top: 15px;
  margin-left: 12px;
  color: #333; }

.index_gl li {
  height: 26px;
  line-height: 26px;
  list-style-position: inside;
  list-style-type: disc; }

.index_gl a {
  font-size: 14px;
  margin-left: 6px; }

.plate3_r2 {
  border: 1px solid #e6e6e6;
  height: 188px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 10px;
  width: 266px; }

.plate3_r2 span {
  cursor: pointer;
  display: inline-block;
  float: left;
  font-family: arial;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  margin: 10px 3px 0 0;
  text-align: center;
  width: 28px; }

.plate3_r2 span:hover, .plate3_r2 span.cur {
  background: #ff7426 none repeat scroll 0 0;
  border-color: #ff7426;
  color: #fff; }

.way_all_show {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e8e8e8;
  box-shadow: 2px 2px 2px #999;
  display: none;
  height: 460px;
  position: absolute;
  width: 953px;
  z-index: 999; }

.way_all_con span {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  border: 1px solid #e3e3e3;
  float: left;
  margin: 10px 3px 0 0;
  font-size: 20px;
  font-family: arial;
  color: #666;
  background: #fff;
  text-align: center;
  cursor: pointer; }

.way_all_con span:hover, .way_all_con span.cur {
  background: #ff7426;
  border-color: #ff7426;
  color: #fff; }

.way_all_con span.last {
  width: 61px; }

.way_all_show {
  position: absolute;
  width: 953px;
  height: 460px;
  border: 1px solid #e8e8e8;
  background: #fff;
  z-index: 999;
  display: none;
  box-shadow: 2px 2px 2px #999; }

.way_all_show .btn_close {
  position: absolute;
  display: block;
  right: -25px;
  top: -1px;
  width: 24px;
  height: 24px;
  background: url(../images/newebuy_i.png) no-repeat -411px -89px #525252;
  cursor: pointer; }

.way_all_show .btn_close:hover {
  background: url(../images/newebuy_i.png) no-repeat -411px -107px #383838; }

.way_all_show .way_all_con {
  padding: 15px; }

.way_all_show .way_con {
  width: 920px;
  height: 364px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb; }

.way_con_item .tw_120_60 {
  width: 434px;
  height: 68px;
  border: solid #ebebeb;
  border-width: 0 1px 1px 0;
  padding: 10px 8px;
  float: left; }

.way_con_item .tw_120_60 .pic {
  width: 120px;
  float: left;
  margin-right: 10px;
  padding-top: 5px; }

.way_con_item .tw_120_60 .text a {
  color: #666; }

.way_con_item .tw_120_60 .text h3 a {
  font-family: Arial;
  font-weight: bold;
  color: #000; }

.way_con_item .tw_120_60 .text a.gt_way {
  background: #55a6fd;
  width: 104px;
  height: 21px;
  line-height: 21px;
  display: block;
  text-align: center;
  color: #fff;
  margin-top: 3px;
  margin-left: 130px; }

.way_con_item .tw_120_60 .text a.gt_way:hover {
  background: #80bcfe;
  text-decoration: none; }
